<section id="home" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div>
                        <h2>Live Crypto Currencies Rates Updates</h2>
                    </div>
                    <p>Rates updated online</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-left">Choose currency:</h3>
                <div>
                    <div><h4>1. <a href="" [routerLink]="['/rates', 'BTC']"><i class="fa fa-btc"></i> BTC</a></h4></div>
                    <div><h4>2. <a href="" [routerLink]="['/rates', 'ETH']">Ξ ETC</a></h4></div>

                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">

            </div>
        </div>
    </div>
</section>