<section id="by-type" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div>
                        <h2>Live Crypto Currencies Rates Updates</h2>
                    </div>
                    <p>Rates updated online</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3 class="text-center">History rates for <span class='blue'>{{currency}}</span></h3>
            <div id="chart" style="position: relative; height:400px; width:900px">
                <canvas baseChart id="baseChart" #baseChart width="900" height="400" [datasets]="historyChartData" [labels]="historyChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Live rates for <span class='blue'>{{currency}}</span></h3>
            <div id="chart" style="position: relative; height:400px; width:900px">
                <canvas baseChart id="baseChart" #baseChart width="900" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>

    </div>
</section>